In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame(
    {'book_rating': [4.65, 5.85], 'genres': ['Fantasy|Young Adult|Fiction', 'Classics|Fiction|Romance']}
)

In [5]:
df

   book_rating                       genres
0         4.65  Fantasy|Young Adult|Fiction
1         5.85     Classics|Fiction|Romance

In [8]:
genres = ['Young Adult', 'Fiction', 'Science', 'Fantasy',
       'Classics', 'Historical', 'School', 'Sports', 'Nonfiction', 
        'Psychology', 'Health', 'Philosophy', 'Literature']

In [10]:
for genre in genres:
    df[genre] = df.apply(lambda row: row.book_rating if genre in row.genres else None, axis=1)

In [11]:
df

,book_rating,genres,Young Adult,Fiction,Science,Fantasy,Classics,Historical,School,Sports,Nonfiction,Psychology,Health,Philosophy,Literature
0,4.65,Fantasy|Young Adult|Fiction,4.65,4.65,None,4.65,NaN,None,None,None,None,None,None,None,None
1,5.85,Classics|Fiction|Romance,NaN,5.85,None,NaN,5.85,None,None,None,None,None,None,None,None