In [1]:
import pandas as pd

#### Задание 1

Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [2]:
df_rat = pd.read_csv("ml-latest-small/ratings.csv")

In [3]:
def count_rating_and_timestamp(row):
    row["ratingCount"] = row.rating.count()
    row["lifeTime"] = row.timestamp.max() - row.timestamp.min()
    return row
    
    
data = df_rat.groupby("userId").apply(count_rating_and_timestamp)[["userId", "ratingCount", "lifeTime"]].drop_duplicates()
data.loc[data.ratingCount > 100].sort_values("lifeTime")

       userId  ratingCount   lifeTime
77383     536          109        206
92084     609          140        848
45023     316          140        916
30526     217          104        981
16857     110          120       1148
...       ...          ...        ...
93534     624         1735  457492507
962        15         1700  471393496
58738     427          294  476569256
78433     547         2391  501810535
51144     380         1063  515789661

[258 rows x 3 columns]