In [1]:
import pandas as pd
import numpy as np

### Домашнее задание к лекции "Базовые понятия статистики"
#### Обязательная часть
Будем осуществлять работу с непростым набором данных о состоянии здоровья лошадей, испытывающих кишечные колики.

##### Задание 1. Базовое изучение
Изучить представленный набор данных на основе описания его столбцов и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

In [2]:
# посмотрим на данные в столбцах 
horse_data = pd.read_csv("horse_data.csv")
horse_data.columns = ["surgery", "age", "hospital_number", "rectal_temperature", "pulse", "respiratory_rate", 
                      "temperature_of_extremities", "peripheral_pulse", "mucous membranes", 
                      "capillary_refill_time", "pain", "peristalsis", "abdominal_distension", 
                      "nasogastric_tube","nasogastric_reflux", "nasogastric_reflux_PH", "rectal_examination", 
                      "abdomen", "packed_cell_volume", "total_protein", "abdominocentesis_appearance", 
                     "abdomcentesis_total_protein", "outcome", "surgical_lesion?", 
                      "first_number_is_site_of_lesion", "second_number_is_type", 
                      "third_number_is_subtype", "cp_data"]
horse_data

,surgery,age,hospital_number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse,mucous membranes,capillary_refill_time,...,packed_cell_volume,total_protein,abdominocentesis_appearance,abdomcentesis_total_protein,outcome,surgical_lesion?,first_number_is_site_of_lesion,second_number_is_type,third_number_is_subtype,cp_data
0,1,1,534817,39.2,88,20,?,?,4,1,...,50,85,2,2,3,2,2208,0,0,2
1,2,1,530334,38.30,40,24,1,1,3,1,...,33.00,6.70,?,?,1,2,0,0,0,1
2,1,9,5290409,39.10,164,84,4,1,6,2,...,48.00,7.20,3,5.30,2,1,2208,0,0,1
3,2,1,530255,37.30,104,35,?,?,6,2,...,74.00,7.40,?,?,2,2,4300,0,0,2
4,2,1,528355,?,?,?,2,1,3,1,...,?,?,?,?,1,2,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,1,1,533886,?,120,70,4,?,4,2,...,55,65,?,?,3,2,3205,0,0,2
295,2,1,527702,37.20,72,24,3,2,4,2,...,44.00,?,3,3.30,3,1,2208,0,0,1
296,1,1,529386,37.50,72,30,4,3,4,1,...,60.00,6.80,?,?,2,1,3205,0,0,2
297,1,1,530612,36.50,100,24,3,3,3,1,...,50.00,6.00,3,3.40,1,1,2208,0,0,1
298,1,1,534618,37.2,40,20,?,?,?,?,...,36,62,1,1,3,2,6112,0,0,2

In [3]:
# выберем восемь признаков для анализа 
eight_horse_data = horse_data[['age', 'rectal_temperature', 'pulse', 'temperature_of_extremities', 
                               'capillary_refill_time', 'outcome', 'abdominal_distension',
                               'peristalsis']]

# встречается некоторое количество знаков вопроса - заменим на NaN и приведем к числу все значения
eight_horse_data = eight_horse_data.replace('?', np.nan).apply(lambda column: pd.to_numeric(column), axis=0)
eight_horse_data.head()

,age,rectal_temperature,pulse,temperature_of_extremities,capillary_refill_time,outcome,abdominal_distension,peristalsis
0,1,39.2,88.0,NaN,1.0,3.0,2.0,4.0
1,1,38.3,40.0,1.0,1.0,1.0,1.0,3.0
2,9,39.1,164.0,4.0,2.0,2.0,4.0,4.0
3,1,37.3,104.0,NaN,2.0,2.0,NaN,NaN
4,1,NaN,NaN,2.0,1.0,1.0,2.0,3.0

In [4]:
eight_horse_data.describe()

,age,rectal_temperature,pulse,temperature_of_extremities,capillary_refill_time,outcome,abdominal_distension,peristalsis
count,299.00000,239.000000,275.000000,243.000000,267.000000,298.000000,243.000000,255.000000
mean,1.64214,38.166527,71.934545,2.345679,1.303371,1.550336,2.259259,2.913725
std,2.17730,0.733508,28.680522,1.046369,0.476623,0.737967,1.061472,0.976298
min,1.00000,35.400000,30.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.00000,37.800000,48.000000,1.000000,1.000000,1.000000,1.000000,3.000000
50%,1.00000,38.200000,64.000000,3.000000,1.000000,1.000000,2.000000,3.000000
75%,1.00000,38.500000,88.000000,3.000000,2.000000,2.000000,3.000000,4.000000
max,9.00000,40.800000,184.000000,4.000000,3.000000,3.000000,4.000000,4.000000

Выводы по первому взгляду на базовые метрики:
    - мы видим, что пульс больной лошади в среднем превышает пульс здоровой на 30 ударов в минуту 
    
    - субъективная оценка температуры конечностей по большей части - конечности ближе к холодным (прохладные), что говорит о шоковом состоянии 
    
    - температура конечностей коррелирует с проходимостью сосудов - чем проходимость ниже, тем холоднее конечности лошади
    
    - вздутие живота на 75 перцентиле умеренное 
    
    - предыдущий параметр коррелирует со вздутием - низкая проходимость кишечника зарегистрирована у большинства лошадей, так же как и повышенное вздутие живота, показатели связаны между собой

##### Задание 2. Работа с выбросами
В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

In [5]:
# расчет выбросов по пульсу 
pulse_iqr = eight_horse_data.pulse.quantile(0.75) - eight_horse_data.pulse.quantile(0.25)
pulse_lower_bound = eight_horse_data.pulse.quantile(0.25) - (1.5 * pulse_iqr) 
pulse_upper_bound = eight_horse_data.pulse.quantile(0.75) + (1.5 * pulse_iqr)
print(f"Нижняя граница пульса: {pulse_lower_bound}")
print(f"Верхняя граница пульса: {pulse_upper_bound}")

print(f"Выбросы по пульсу: \nНижние:\n{eight_horse_data.loc[eight_horse_data.pulse < pulse_lower_bound].pulse}\n\nВерхние:\n{eight_horse_data.loc[eight_horse_data.pulse > pulse_upper_bound].pulse}")

Нижняя граница пульса: -12.0
Верхняя граница пульса: 148.0
Выбросы по пульсу:
Нижние:
Series([], Name: pulse, dtype: float64)

Верхние:
2      164.0
40     150.0
54     160.0
254    184.0
274    150.0
Name: pulse, dtype: float64

Видим, что нижней границей является отрицательный пульс - этого не может быть по определению, но число мало, поэтому из наших вычислений видим, что нижних выбросов нет и отрицательных значений пульса тоже

In [6]:
print(f"Нижняя граница пульса: {eight_horse_data.pulse.quantile(0.25)}")

Нижняя граница пульса: 48.0

Посмотрев на верхние выбросы, можем сказать, что из общих данных сильно выбивается лишь одно значение, взглянем на 75 перцентиль

In [7]:
print(f"Верхняя граница пульса: {eight_horse_data.pulse.quantile(0.75)}")

Верхняя граница пульса: 88.0

Это значение очень отличается от расчетов плюс минус 1.5 - почти в два раза, можно посмотреть, сколько значений выбивается за пределы 75 перцентиля

In [8]:
eight_horse_data.loc[eight_horse_data.pulse > eight_horse_data.pulse.quantile(0.75)].pulse

2      164.0
3      104.0
8       90.0
12      92.0
14      96.0
       ...
271    100.0
272    120.0
274    150.0
294    120.0
297    100.0
Name: pulse, Length: 67, dtype: float64

Значений, превышающих 75 перцентиль очень много - 67, можем сделать вывод, что они попали в выборку не случайно и важны для вычислений, поэтому уберем только те значения, которые превышают нашу верхнюю границу

In [9]:
# расчет выбросов по ректальной температуре
temp_iqr = eight_horse_data.rectal_temperature.quantile(0.75) - eight_horse_data.rectal_temperature.quantile(0.25)
temp_lower_bound = eight_horse_data.rectal_temperature.quantile(0.25) - (1.5 * temp_iqr) 
temp_upper_bound = eight_horse_data.rectal_temperature.quantile(0.75) + (1.5 * temp_iqr)
print(f"Нижняя граница температуры: {temp_lower_bound}")
print(f"Верхняя граница температуры: {temp_upper_bound}")

print(f"Выбросы по температуре: \nНижние:\n{eight_horse_data.loc[eight_horse_data.rectal_temperature < temp_lower_bound].rectal_temperature}\n\nВерхние:\n{eight_horse_data.loc[eight_horse_data.rectal_temperature > temp_upper_bound].rectal_temperature}")

Нижняя граница температуры: 36.74999999999999
Верхняя граница температуры: 39.550000000000004
Выбросы по температуре:
Нижние:
43     35.4
79     36.4
117    36.5
140    36.0
237    36.1
250    36.6
297    36.5
Name: rectal_temperature, dtype: float64

Верхние:
19     39.9
53     40.3
74     39.7
90     40.3
98     39.6
258    40.8
280    40.0
Name: rectal_temperature, dtype: float64

По ректальной температуре мы видим, что разница между нижней границей и минимальным значением, которое попало в выбросы очень мала - то есть можем сделать вывод, что это значение как таковое выбросом не является и его можно учитывать в общем анализе

In [33]:
# убираем выбросы
eight_horse_data = eight_horse_data[eight_horse_data.pulse.between(pulse_lower_bound, pulse_upper_bound, inclusive=True)]
eight_horse_data.describe()

,age,rectal_temperature,pulse,temperature_of_extremities,capillary_refill_time,outcome,abdominal_distension,peristalsis
count,270.000000,270.000000,270.000000,270.000000,250.000000,269.000000,270.000000,239.000000
mean,1.503704,38.129630,70.274074,2.433333,1.288000,1.546468,2.177778,2.899582
std,1.946779,0.670246,26.129625,0.987468,0.462506,0.754759,0.970698,0.977886
min,1.000000,35.400000,30.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,37.800000,48.000000,1.000000,1.000000,1.000000,1.000000,3.000000
50%,1.000000,38.100000,64.000000,3.000000,1.000000,1.000000,2.000000,3.000000
75%,1.000000,38.400000,88.000000,3.000000,2.000000,2.000000,3.000000,4.000000
max,9.000000,40.800000,146.000000,4.000000,3.000000,3.000000,4.000000,4.000000

##### Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

In [16]:
for col in eight_horse_data.columns:
    pct_missing = eight_horse_data[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

age - 0.0%
rectal_temperature - 15.6%
pulse - 0.0%
temperature_of_extremities - 17.0%
capillary_refill_time - 7.4%
outcome - 0.4%
abdominal_distension - 17.0%
peristalsis - 11.5%

Мы видим пропуски в столбцах temperature_of_extremities, abdominal_distension, rectal_temperature, peristalsis - их не большое количество. В остальных столбцах пропусков мало или нет, поэтому можно считать, что мы можем их игнорировать

In [24]:
# ректальная температура - числовое значение, заменим его средним значением
eight_horse_data.rectal_temperature.fillna(eight_horse_data.rectal_temperature.mean(), inplace=True)
eight_horse_data.rectal_temperature.describe()

count    270.000000
mean      38.129630
std        0.670246
min       35.400000
25%       37.800000
50%       38.100000
75%       38.400000
max       40.800000
Name: rectal_temperature, dtype: float64

Видим, что на общих данных замена пустых значений ректальной температуры практически не сказалась

In [25]:
# температура конечностей - категориальная величина, ее обычно заменяют модой
eight_horse_data.temperature_of_extremities.fillna(eight_horse_data.temperature_of_extremities.mode(), inplace=True)
eight_horse_data.temperature_of_extremities.describe()

count    270.000000
mean       2.433333
std        0.987468
min        1.000000
25%        1.000000
50%        3.000000
75%        3.000000
max        4.000000
Name: temperature_of_extremities, dtype: float64

Здесь мы можем увидеть, что при заполнении пропусков среднее значение и отклонение также незначительно скорректировались - среднее увеличилось, а отклонение напротив уменьшилось

In [27]:
# вздутие живота также величина категориальная - заполняем модой 
eight_horse_data.abdominal_distension.fillna(eight_horse_data.abdominal_distension.mode(), inplace=True)
eight_horse_data.abdominal_distension.describe()

count    270.000000
mean       2.177778
std        0.970698
min        1.000000
25%        1.000000
50%        2.000000
75%        3.000000
max        4.000000
Name: abdominal_distension, dtype: float64

Со значениями по вздутию живота произошло то же, что и с температурой конечностей - мы уменьшили отклонение, но несколько сильнее

In [36]:
# проходимость кишечника так же категориальная - заполняем модой
eight_horse_data.peristalsis.fillna(eight_horse_data.peristalsis.mode(), inplace=True)
eight_horse_data.peristalsis.describe()

count    270.000000
mean       2.899582
std        0.919815
min        1.000000
25%        2.899582
50%        3.000000
75%        3.000000
max        4.000000
Name: peristalsis, dtype: float64

В случае с peristalsis данные почти не изменились, однако 75 перцентиль сместился на значение "умеренной проходимости"