#### Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [14]:
data = pd.read_csv("ml-1m/ratings.dat", sep="::", 
                   names=['Пользователь', 'Фильм', 'Рейтинг', 'Дата'], 
                   engine="python", header=0)
fives = data["Рейтинг"] == 5
# film = data.loc[fives].groupby("Фильм")["Рейтинг"].sum().sort_values(ascending=False).head(1)
film = data[data["Рейтинг"] == 5]["Фильм"].value_counts().head(1)

film_data = pd.read_csv("ml-1m/movies.dat", sep="::", 
                   names=['Фильм', 'Заголовок', 'Жанры'], 
                   engine="python", header=0)

pd.merge(film, film_data, on=("Фильм"), how="left")

   Фильм                      Заголовок   Жанры
0   1963  Take the Money and Run (1969)  Comedy

#### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [4]:
power_data = pd.read_csv("power.csv")
categories = [4, 12, 21]
countries = ["Lituania", "Estonia", "Latvia"]
power_data = power_data[(power_data.category.isin(categories)) 
                        & (power_data.quantity >= 0) 
                        & (power_data.country.isin(countries))]
power_data.quantity.sum()

474794.0

#### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [6]:
data_frames = pd.read_html("https://fortrader.org/quotes", encoding='utf-8')

data_frames[1]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть (BRENT) Курс нефти сегодня,44.330,0.450,1.030,NaN
1,Нефть (WTI) Цены на нефть (WTI),41.560,0.900,2.210,NaN
2,Сахар котировки на сахар,12.630,11.330,871.540,NaN
3,Газ Цена на газ,2.187,0.046,2.149,NaN